@media (min-width: 75em) {
  body {
    max-width: 110rem;
  }

  .header-items {
    max-width: 110rem;
  }

  nav {
    width: 22%;
  }

  .body-container {
    max-width: 100rem;
  }

  .movie-card {
    max-width: 80rem;
  }

  .movie-poster {
    width: 16rem;
    height: 22rem;
  }

  .modal-container {
    max-width: 140rem;
  }

  .modal-backdrop-wrapper {
    height: 55rem;
  }

  .modal-title {
    font-size: 6.4rem;
  }

  .modal-overview {
    font-size: 1.7rem;
  }
}

@media (min-width: 56.25em) {
  body {
    max-width: 90rem;
  }

  .header-items {
    max-width: 90rem;
  }

  nav {
    width: 26%;
  }

  .trending-movies {
    gap: 2.4rem;
  }

  .square {
    min-width: 24rem;
    height: 24rem;
  }

  .movie-title {
    font-size: 2.2rem;
  }

  .modal-title {
    font-size: 5.6rem;
  }

  .modal-backdrop-wrapper {
    height: 48rem;
  }

  .modal-main-content {
    grid-template-columns: 32rem 1fr;
  }

  .cast-member img {
    width: 12rem;
    height: 12rem;
  }
}

@media (min-width: 37.5em) {
  nav {
    width: 32%;
  }

  .input-form button {
    width: 60%;
  }

  .media-type-selector {
    justify-content: space-between;
  }

  .movie-card {
    gap: 2.4rem;
    padding: 2.4rem;
  }

  .movie-poster {
    width: 14rem;
    height: 18rem;
  }

  .modal-main-content {
    grid-template-columns: 25rem 1fr;
  }

  .tabs {
    justify-content: center;
  }

  .tabs button {
    flex: 0;
    min-width: 12rem;
  }
}
